@{
    ViewData["Title"] = "Home";
}

<h1>Discover and manage your favorite movies and actors.</h1>
<a class="btn btn-primary" href="@Url.Action("Index", "Movies")">Manage Movies</a>
<a class="btn btn-primary" href="@Url.Action("Index", "Actors")">Manage Actors</a>
<a class="btn btn-primary" href="@Url.Action("Index", "MovieActors")">Actors in Movies</a>
